mixin html
  doctype
  html(lang='en-us')&attributes(attributes)
    block

mixin head(obj)
  head&attributes(attributes)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')
    -if (obj && obj.hasOwnProperty('color'))
      meta(name='theme-color' content=obj.color)
    -if (obj && obj.hasOwnProperty('description'))
      meta(name='description' content=obj.description)
    -if(obj && obj.hasOwnProperty('title'))
      title= obj.title
    block

mixin script(url)
  script(src=url)&attributes(attributes)

mixin style(url)
  link(href=url rel='stylesheet' type='text/css')&attributes(attributes)

mixin image(url)
  img(src=url)&attributes(attributes)

mixin input
  input(size='1')&attributes(attributes)

// wysiwyg editors forcing width and height attributes
mixin video
  video(width='auto' height='auto')
