mixin html
  doctype
  html(lang='en-us')&attributes(attributes)
    block

mixin head(obj)
  head&attributes(attributes)
    meta(charset='utf-8')
    -if (obj && !!obj.zoom)
      meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=0')
    -else
      meta(name='viewport' content='width=device-width, initial-scale=1')
    -if (obj && !!obj.color)
      meta(name='theme-color' content=obj.color)
    -if (obj && !!obj.description)
      meta(name='description' content=obj.description)
    -if(obj && !!obj.title)
      title= obj.title
    block

mixin script(url)
  script(src=url)&attributes(attributes)

mixin style(url)
  link(href=url rel='stylesheet')&attributes(attributes)

mixin image(url)
  img(src=url)&attributes(attributes)

