mixin html
  doctype
  html(lang='en-us')&attributes(attributes)
    block

mixin head(obj)
  head&attributes(attributes)
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')
    -if (obj && obj.hasOwnProperty('color'))
      meta(name='theme-color' content=obj.color)
    -if (obj && obj.hasOwnProperty('description'))
      meta(name='description' content=obj.description)
    -if(obj && obj.hasOwnProperty('title'))
      title= obj.title
    block

mixin script(url)
  script(src=url)&attributes(attributes)

mixin style(url)
  link(href=url rel='stylesheet' type='text/css')&attributes(attributes)

mixin template(name)
  script(id=name type='x/template')&attributes(attributes)
    block

mixin vue(obj)
  body&attributes(attributes)
    -if (obj.id)
      div(id=obj.id)
        block
    -else
      #root
        block

    -if (obj.script)
      script(src=obj.script)
    -else
      script(src='dist/build.js')

mixin image(url)
  img(src=url)&attributes(attributes)
